{% extends 'base.html' %}
{% block body %}
  <div class="jumbotron">
    <h1>Welcome to Corrosion Software Demo</h1>
      <h5>Please follow the instructions below:</h5>
  </div>
  <div class="container">
    <h3>Engineers:</h3>
      <h5><li>Navigate to "View Data" to view the status of your equipments</li><h5>
      <h5><li>Navigate to "Create Equipment" to add a new piece of equipment to the database</li><h5>
    <br><br/>
    <h3>Techs:</h3>
      <h5><li>Navigate to "Insert Data" to complete your TML readings</li></h5>
  </div>

{% endblock %}
