{% extends "base.html" %} {% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Select TML</h1>
    <form action="" method='POST'>
      {% csrf_token %}
      <div class="form-item">
        <label for="facility">Facility</label>
        <select name="facility" id="selected-facility">
           <option value="" selected disabled hidden>Select Facility</option>
           {% for i in facility %}
           <option value="{{i.id}}">{{i}}</option>
           {% endfor %}
         </select>
      </div>
      <div class="form-item">
        <label for="equipment">Equipment</label>
        <!-- <select name="equipment" id="selected-equipment">
           <option value="" selected disabled hidden>Select Equipment</option>
           {% for i in equipment_name %}
           <option value="{{i.id}}">{{i}}</option>
           {% endfor %}
         </select> -->
         <select name="equipment" id="selected-equipment">
           <option value="" selected disabled hidden>Select Equipment</option>

         </select>
      </div>
      <div class="form-item">
        <label for="tml">TML</label>
        <select name="tml" id="selected-tml">
           <option value="" selected disabled hidden>Select TML</option>
           {% for i in tml%}
           <option value="{{i.id}}">{{i.id}}</option>
           {% endfor %}
       </select>
     </div>
    </form>
  </div>
  <div class="container">
    <h1 style="color: black">Corrosion Rate</h1>
    <!-- <div id="psiGraph" style="width:90%;height:400px;"></div> -->
    <div id="corrosionGraph" style="width:90%;height:400px;"></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  $( document ).ready(function() {

    let facilityData = null;
    let equipmentData = null;
    let tmlData = null;
    let shownEquipment = null;

    $('#selected-facility').on('change', function(e) {
      let optionSelected = $("#selected-facility").val()
      console.log(optionSelected);
      axios.get(`http://localhost:8000/api/api/v1/facility/${optionSelected}`).then((response) => {
        facilityData = response.data.id
        console.log(facilityData)

        axios.get(`http://localhost:8000/api/api/v1/fixed_equipment/?facility=${facilityData}`).then((response) => {
          $('#selected-equipment').empty()
          shownEquipment = null;
          shownEquipment = response.data
          console.log(shownEquipment)
          for(var i = 0; i<shownEquipment.length; i++){
            $('<option/>').val(shownEquipment[i]).html(shownEquipment[i].equipment_name).appendTo('#selected-equipment');
          }
        });
      })
      .catch(error => {
      console.log(error.response)
      });
    });

    $('#selected-equipment').on('change', function(e) {
      let optionSelected = $("#selected-equipment").val()
      console.log(optionSelected);
      axios.get(`http://localhost:8000/api/api/v1/fixed_equipment/${optionSelected}`).then((response) => {
        equipmentData = response.data
        console.log(equipmentData)
        let $dropdown = $("#selectedEquipment");

        $.each(result, function() {
            $dropdown.append($("<option />").val(equipmentData).text(this.Name));
        });

      })
      .catch(error => {
      console.log(error.response)
      });
    });

    $('#selected-tml').on('change', function(e) {
      let optionSelected = $("#selected-tml").val()
      console.log(optionSelected);
      axios.get(`http://localhost:8000/api/api/v1/tml/${optionSelected}`).then((response) => {
        tmlData = response.data
        fixed_equip = tmlData.fixed_eqp
        console.log(tmlData)
        console.log(fixed_equip)
        return axios.all([
          axios.get(`http://localhost:8000/api/api/v1/measurements/?tml=${optionSelected}`),
          axios.get(`http://localhost:8000/api/api/v1/fixed_equipment/${fixed_equip}`)
        ])
        .then(axios.spread((measurementRes,fixedRes) => {
          measData = measurementRes.data
          fixedData = fixedRes.data
          measArray = []
          tsArray = []
          measures = measData.forEach(function(element){
            measArray.push(element.measurement)
            tsArray.push(element.insert_timestamp)
          })
          corrosionGraph = document.getElementById('corrosionGraph')
          var trace1 = {
            x: tsArray,
            y:measArray,
            type: 'scatter',
            mode: 'lines+markers'
          }

          var layout = {
              title: 'TML Corrosion Rate',
              yaxis: {
                rangemode:'tozero'

              }
              ,
              shapes: [
                {
                type: 'line',
                x0: tsArray[0],
                y0: fixedData.min_req_thickness,
                x1: tsArray[tsArray.length-1],
                y1: fixedData.min_req_thickness,
                line: {
                  color: 'red',
                  width: 4
                }
                }]
              }
              var dataForChart = [trace1]
              Plotly.newPlot(corrosionGraph, dataForChart, layout)
          console.log(measArray)
          console.log(tsArray[0])
          console.log(tsArray[tsArray.length-1])
          console.log(fixedData.min_req_thickness)
        }
      ))
      })
      .catch(error => {
      console.log(error.response)
      });
    });
  });



  //`https://corrosion-software.herokuapp.com/api/api/v1/fixed_equipment/${optionSelected}`
</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% load static %}
<!-- <script src="{% static "main_app/js/pressureGraph.js" %}"></script> -->
{% endblock %}
